@model Shipping_Label_App.Models.Labels

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1>Create Label</h1>
            </div>
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Create Label</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Label</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              
                    <form asp-action="Create">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="ProviderID" class="control-label"></label>
                                    <select asp-for="ProviderID" class="form-control" asp-items="@(new SelectList(Model.Providers,"Id","ProviderName"))">
                                        <option value="">Select Provider</option>
                                    </select>
                                    <span asp-validation-for="ProviderID" class="text-danger"></span>
                                </div>
                                <hr />
                            </div>
                            <div class="col-md-6">                             
                                <h3>From</h3>
                                <hr />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="FromCountry" class="control-label"></label>
                                    @*<input asp-for="FromCountry" class="form-control" />*@
                                    <select asp-for="FromCountry" class="form-control" asp-items="@(new SelectList(Model.CountriesList,"Name","Name"))"></select>
                                    <span asp-validation-for="FromCountry" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FromName" class="control-label"></label>
                                    <input asp-for="FromName" class="form-control" />
                                    <span asp-validation-for="FromName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FromStreet" class="control-label"></label>
                                    <input asp-for="FromStreet" class="form-control" />
                                    <span asp-validation-for="FromStreet" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FromStreet2" class="control-label"></label>
                                    <input asp-for="FromStreet2" class="form-control" />
                                    <span asp-validation-for="FromStreet2" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FromCity" class="control-label"></label>
                                    <input asp-for="FromCity" class="form-control" />
                                    <span asp-validation-for="FromCity" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FromZip" class="control-label"></label>
                                    <input asp-for="FromZip" class="form-control" />
                                    <span asp-validation-for="FromZip" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FromState" class="control-label"></label>
                                    @*<input asp-for="FromState" class="form-control" />*@
                                    <select asp-for="FromState" class="form-control" asp-items="@(new SelectList(Model.StatesList,"Name","Name"))">
                                        <option value="">Select State</option>
                                    </select>
                                    <span asp-validation-for="FromState" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FromPhone" class="control-label"></label>
                                    <input asp-for="FromPhone" class="form-control" />
                                    <span asp-validation-for="FromPhone" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h3>To</h3>
                                <hr />
                                <div class="form-group">
                                    <label asp-for="ToCountry" class="control-label"></label>
                                    @*<input asp-for="ToCountry" class="form-control" />*@
                                    <select asp-for="ToCountry" class="form-control" asp-items="@(new SelectList(Model.CountriesList,"Name","Name"))"></select>
                                    <span asp-validation-for="ToCountry" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="ToName" class="control-label"></label>
                                    <input asp-for="ToName" class="form-control" />
                                    <span asp-validation-for="ToName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="ToStreet" class="control-label"></label>
                                    <input asp-for="ToStreet" class="form-control" />
                                    <span asp-validation-for="ToStreet" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="ToStreet2" class="control-label"></label>
                                    <input asp-for="ToStreet2" class="form-control" />
                                    <span asp-validation-for="ToStreet2" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ToCity" class="control-label"></label>
                                    <input asp-for="ToCity" class="form-control" />
                                    <span asp-validation-for="ToCity" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <label asp-for="ToZip" class="control-label"></label>
                                    <input asp-for="ToZip" class="form-control" />
                                    <span asp-validation-for="ToZip" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="ToState" class="control-label"></label>
                                    @*<input asp-for="ToState" class="form-control" />*@
                                <select asp-for="ToState" class="form-control" asp-items="@(new SelectList(Model.StatesList,"Name","Name"))">
                                    <option value="">Select State</option>
                                </select>
                                    <span asp-validation-for="ToState" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="ToPhone" class="control-label"></label>
                                    <input asp-for="ToPhone" class="form-control" />
                                    <span asp-validation-for="ToPhone" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12" style="margin-top:40px">
                                <h4>Other</h4>
                                <hr />
                              
                                <div class="form-group">
                                    <label asp-for="Weight" class="control-label"></label>
                                    <input asp-for="Weight" class="form-control" />
                                    <span asp-validation-for="Weight" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ClassId" class="control-label"></label>
                                    
                                    <select asp-for="ClassId" class="form-control" asp-items="@(new SelectList(Model.Classes,"Id","ClassName"))">
                                        <option value="">Select Classes</option>
                                    </select>
                                    <span asp-validation-for="ClassId" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="SignatureRequired" /> @Html.DisplayNameFor(model => model.SignatureRequired)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Notes" class="control-label"></label>
                                    <input asp-for="Notes" class="form-control" />
                                    <span asp-validation-for="Notes" class="text-danger"></span>
                                </div>
                            </div>
                           
                            <div class="col-md-12" style="margin-top:40px">
                                <h4>Schedule</h4>
                                <hr />
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="SheduleEnable" /> @Html.DisplayNameFor(model => model.SheduleEnable)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SheduleDateTime" class="control-label"></label>
                                    <input asp-for="SheduleDateTime" class="form-control" />
                                    <span asp-validation-for="SheduleDateTime" class="text-danger"></span>
                                </div>                            
                            </div>
                          
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>            
            </div>
        </div>
    </div>
</section>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
