@model IEnumerable<Shipping_Label_App.ViewModel.LabelVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Label</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Label Categories</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content p-3">
    <a class="btn btn-primary m-2" asp-action="Create">Create New</a>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FromName)
                                    </th>
                                  
                                    <th class="d-none d-lg-table-cell">
                                        @Html.DisplayNameFor(model => model.FromAddress)
                                    </th>
                                    <th class="d-none d-lg-table-cell">
                                        @Html.DisplayNameFor(model => model.ToAddress)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Provider.ProviderName)
                                    </th>
                                    <th class="d-none d-lg-table-cell">
                                        @Html.DisplayNameFor(model => model.Class.ClassName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TrackingNo)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FromName)
                                    </td>
                                    <td class="d-none d-lg-table-cell">
                                        @Html.DisplayFor(modelItem => item.FromAddress)
                                    </td>
                                    <td class="d-none d-lg-table-cell">
                                        @Html.DisplayFor(modelItem => item.ToAddress)
                                    </td>
                                    <td >
                                        @Html.DisplayFor(modelItem => item.ProviderName)
                                    </td>
                                    <td  class="d-none d-lg-table-cell">
                                        @Html.DisplayFor(modelItem => item.ClassName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TrackingNo)
                                    </td>
                                    <td>
                                        @*<a asp-action="Edit" asp-route-id="@item.LableID"><i class="fas fa-edit"></i></a> |*@
                                        <a asp-action="Details" asp-route-id="@item.LableID" title="View Label"  style="color:green"><i class="far fa-newspaper"></i></a> |
                                        <a asp-action="Delete" asp-route-id="@item.LableID"  title="Delete Label"  style="color:red"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

